*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
}

.ui-components{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid salmon;
    padding: 1rem;
    background-color: white;
}

#ui{
    border: 1px solid salmon;
    padding: 1rem;
    margin: 1rem;
}